<div class="offcanvas offcanvas-end" id="showMenu">
    <div class="offcanvas-body">
        <button type="button" id="btnCloseMenu" data-bs-dismiss="offcanvas"><i class="fas fa-times"></i></button>
        <p class="title">METRO</p>
        <ul class="show-menu">
          <li class="menu-item"><a href="#" class="menu-link">Univers</a></li>
          <li class="menu-item"><a href="#" class="menu-link">Personnages</a></li>
          <li class="menu-item dropdown">
            <a href="#" class="menu-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-target="mainEpisodes">
              Episodes
            </a>
            <div class="dropdown-menu" id="mainEpisodes">
              <a class="dropdown-item" href="#">Metro 2033</a>
              <a class="dropdown-item" href="#">Metro Last Light</a>
              <a class="dropdown-item" href="#">Metro Exodus</a>
            </div>
          </li>
        </ul>
    </div>
</div>